footer {
    height: 6vh;
    background-color: #daa520;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-top: 1vh;
    padding: 1vh;
}